<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
      <ion-title color="primary">ThelkoApp</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div>
      <ion-searchbar search-icon="search" animated="true" [(ngModel)]="searchTerm" (ionChange)="filteredItems(searchTerm)" autocorrect="on" color="light" type="search" inputmode="search" autocomplete="on" showCancelButton="focus" style="color: grey;" placeholder="Rechercher un secteur d'activité"></ion-searchbar>
  </div>


  <div>
      <ion-list lines="none" *ngIf="items.length > 0; else message">
        <ion-item *ngFor="let item of items">
          <ion-label (click)="goToEntreprise(item.idSecteurs, item.nomSecteur)">{{item.nomSecteur}}</ion-label>
        </ion-item>
      </ion-list> 
      <div>
        <ng-template #message style="margin-top:150px;"><p style="text-align: center; text-align:center; color: grey;">Aucun secteur disponible!</p> </ng-template>
      </div>
  </div>
  
</ion-content>

<!--ion-footer>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
        <ion-icon name="arrow-dropright"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-footer-->
