div.chat-messages{
  
    margin-top:15px;
    z-index:0;
  }
  
  div.chat-messages div.chat{
   // position: relative;
    width:260px;
    height:auto;
    margin-left:27px;
   
    padding: 20px;
    border-radius: 5px;
    font-size: 15px;
    
  }
  
  div.chat div.chat-content > span{
    margin-bottom:12px;
  }
  
  div.chat div.chat-content span.friend{
    position: relative;
    width: 70%;
    height:auto;
    display: inline-block;
    background: rgb(219, 217, 217);
    padding: 10px;
    padding-bottom: 25px;
    box-shadow: 2px 2px -20px rgba(224, 223, 243, 0.2);
    
  }
  
  div.chat div.chat-content span.friend.first{
    border-radius: 15px 15px 15px 2px;
  }
  
  div.chat div.chat-content span.friend.last{
    border-radius: 2px 15px 15px 15px;
  }
  
  div.chat div.chat-content span.friend span.time{
    position: absolute;
    display: block;
    right:0;
    margin-top:5px;
    margin-right: 10px;
    font-size: 10px;
    font-weight:500;
    color:#3880ff;
  }
  
  div.chat div.chat-content span.you{
    position: relative;
    float: right;
    width:70%;
    height: auto;
    background: #3880ff;
    display: inline-block;
    margin-right: -35px;
    padding: 10px;
    padding-bottom: 25px;
    color: #fff;
    //box-shadow: 2px 2px 20px rgba(60,51,176,0.2), inset -10px -10px 55px rgba(255,255,255,0.1);
  }
  
  div.chat div.chat-content span.you span.time{
    position: absolute;
    display: block;
    right:0;
    margin-top: 5px;
    margin-right:10px;
    font-size:10px;
    font-weight:500;
    color: rgba(225,255,255,0.5);
  
  }
  
  div.chat div.chat-content span.you.first{
    border-radius: 15px 15px 2px 15px;
  }
  
  div.chat div.chat-content span.you.last{
    border-radius: 15px 2px 15px 15px;
  }
  
  div.msg-box{
    position: absolute;
    width:100%;
    bottom: 8px;
    left: 0;
    //border-top: 1px solid rgba(60,51,176,0.1);
    overflow: hidden;
  }
  
  div.msg-box .ip-msg{
    width:80%;
    font-size: 18px;
    padding: 15px;
    padding-right: 30px;
    //color: rgba(225,255,255,0.9);
    border: 1px solid #3880ff;
    background: rgba(0,0,0,0.03);
    border-radius: 40px !important;
    margin-left:10px;
  }
  
  div.msg-box .ip-msg::placeholder{
    color:#3880ff;
  }
  
  div.msg-box span.btn-group{
    position: absolute;
    right:5px;
    top: 2px;
    float: right;
    margin-top: 5px;
    //display: inline-block;
    //margin-right:7px;
    
  }
  