<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title color="primary">ThelkoApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/shapes.svg" alt=""/>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title style="color: grey;" class="ion-text-center">Rechercher une entreprise</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div>
        <ion-searchbar search-icon="search" [(ngModel)]="searchTerm" (ionChange)="filteredItems(searchTerm)" spellcheck="true" animated="true" autocorrect="on" color="light" type="search" inputmode="search" autocomplete="on" showCancelButton="focus" style="color: grey;" placeholder="Rechercher une entreprise"></ion-searchbar>
      </div>
    </ion-card-content>
  </ion-card>

  <div scrollable>
    <ion-list lines="none" *ngIf="items.length > 0 else message">
      <ion-list-header>
        <ion-label style="color: grey;">Résultat recherche</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let item of items">
        <ion-label (click)="goToEntreprise(item.idSecteurs, item.nomSecteur)">{{item.nomSecteur}}</ion-label>
      </ion-item>
    </ion-list>
    <div>
      <ng-template #message> <p style="text-align:center; color: grey;">Aucun résultat pour cette recherche.</p> </ng-template>
    </div>
  </div>
</ion-content>
